.vs/MAChanger/v16/.suo
.vs/MAChanger/v16/Server/sqlite3/db.lock
.vs/MAChanger/v16/Server/sqlite3/storage.ide
.vs/MAChanger/v16/Server/sqlite3/storage.ide-wal
.vs/MAChanger/v16/Server/sqlite3/storage.ide-shm